.content-wrapper {
  margin: 0 auto;
  padding: 1em;
}
.grid-container {
  display: grid;
  grid-gap: 1em;
}

/* Grid changes on medium sized screens */
@media screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-wrapper {
    max-width: 75vw;
  }
}

/* Grid changes again on larger screens */
@media screen and (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .content-wrapper {
    max-width: 50vw;
  }
}
